____________________________________________________________________
<h3>Part of the screen displayed by default or when "Cars to be rented" is selected</h3>

<h2>Cars to be rented: </h2>

<div *ngFor="let car of cars">

  <h3>
    {{ car.brand }}
  </h3>

  <a [routerLink]="'/cars/' + car.plateNumber">Details</a>

</div>

<br>
<a href="https://github.com/charroux/car-rental/blob/master/src/app/cars/cars.component.html">Source code of this part of the screen</a>
<br>
<a href="https://github.com/charroux/car-rental/blob/master/src/app/cars/cars.component.ts">Associated component</a>
<br>
<a href="https://github.com/charroux/car-rental/blob/master/src/app/car.service.ts">The underlying service</a>

